<h2 style="text-align: center">Choose a category</h2>
<ng-container *ngIf="categories$ | async as categories; else loading">
  <div class="categories">
    <div
      class="item"
      *ngFor="let category of categories"
      (click)="changeCategoryId.emit(category.id)"
    >
      <img class="image" [src]="category.img" alt="" />
      <h3 class="title">{{ category.title_ru }}</h3>
    </div>
  </div>

  <div style="display: flex; justify-content: center;">
    <button (click)="resetCategory.emit()">Сбросить</button>
  </div>
</ng-container>

<ng-template #loading>loading...</ng-template>
